                @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
                 :root {
                    --orange: #FF9800;
                    --black: #000000;
                    --white: #ffffff;
                    --gray: #53565A;
                    --aqua: #47C7FC;
                    --green: #009C3B;
                }
                
                html {
                    scroll-behavior: smooth;
                }
                
                body {
                    margin: 0;
                    padding: 0;
                }
                
                .wrapper {
                    position: absolute;
                    width: 100%;
                    height: fit-content;
                }
                
                #header {
                    position: relative;
                }
                
                .wrapper-header {
                    position: relative;
                    width: 100%;
                    height: 800px;
                    background-color: var(--black);
                }
                
                nav {
                    position: fixed;
                    width: 100%;
                    height: 75px;
                    display: flex;
                    background-color: var(--black);
                    z-index: 10;
                }
                
                #logo {
                    width: 80px;
                    padding: 15px;
                    margin-left: 50px;
                }
                
                .nav-left {
                    width: 65%;
                }
                
                .nav-right {
                    width: 35%;
                    display: flex;
                    align-content: flex-end;
                    align-items: center;
                    gap: 50px;
                }
                
                .list {
                    width: fit-content;
                }
                
                .list a {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    text-decoration: none;
                    color: var(--orange);
                    transition: 0.3s;
                }
                
                .list a:hover {
                    color: var(--aqua);
                    transition: 0.3s;
                }
                
                .header-left {
                    position: absolute;
                    width: 50%;
                }
                
                .wrapper-hero {
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: 100%
                }
                
                .hero-left {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                
                .title {
                    width: 100%;
                    height: 20%;
                }
                
                .title img {
                    display: block;
                    height: 100%;
                    margin: auto;
                }
                
                .button {
                    width: 100%;
                    height: 7%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .button button {
                    width: 150px;
                    height: 100%;
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color: var(--black);
                    background-color: #FF9800;
                    transition: 0.3s;
                }
                
                .button button:hover {
                    background-color: var(--aqua);
                    color: var(--gray);
                    transition: 0.3s;
                    cursor: pointer;
                }
                
                .hero-right {
                    width: 50%;
                    height: 100%;
                    background: linear-gradient(180.26deg, rgba(0, 0, 0, 0.26) 72.29%, #000000 99.77%), linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.26) 26.82%), url("../img/faisca.jfif");
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                
                .orange-line {
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: var(--orange);
                }
                
                #line-one {
                    margin-top: -10px;
                }
                
                #line-two {
                    margin-top: -20px;
                }
                
                #line-three {
                    margin-top: -30px;
                }
                
                #line-four {
                    margin-top: -40px;
                }
                /*fim da header*/
                
                .wrapper-hist {
                    position: absolute;
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                }
                
                .h-header {
                    width: 100%;
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                }
                
                .of {
                    position: relative;
                    width: 100%;
                    height: 150px;
                }
                
                .spacer {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                }
                
                .spacer h1 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 52px;
                    font-weight: 700;
                    color: var(--black);
                }
                
                .spacer h2 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 28px;
                    font-weight: 500;
                    color: var(--orange);
                }
                
                .content {
                    width: 100%;
                    min-height: 450px;
                    display: flex;
                }
                
                .content-left {
                    width: 50%;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-right: 3px solid var(--orange);
                }
                
                .content-title {
                    height: fit-content;
                }
                
                .content-title h1 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 30px;
                    color: var(--orange);
                    text-align: center;
                    width: 100%;
                }
                
                .content-text {
                    width: 65%;
                    text-align: center;
                    height: fit-content;
                }
                
                .content-text h3 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 20px;
                }
                
                .content-image {
                    height: 230px;
                    width: 350px;
                    border: 5px solid var(--orange);
                    object-fit: cover;
                }
                
                .content-image img {
                    display: block;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                .content-bruce img {
                    max-width: 150px;
                }
                
                .content-right {
                    width: 50%;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-left: 3px solid var(--orange);
                }
                
                .dot {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    border-radius: 100%;
                }