                @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
                 :root {
                    --orange: #FF9800;
                    --black: #000000;
                    --white: #ffffff;
                    --gray: #53565A;
                    --aqua: #47C7FC;
                    --green: #009C3B;
                }
                
                html {
                    scroll-behavior: smooth;
                }
                
                body {
                    margin: 0;
                    padding: 0;
                    background-color: var(--black);
                }
                
                #amarelo {
                    color: #FFDF00;
                }
                
                #laranja {
                    color: var(--orange);
                }
                
                #azul {
                    color: var(--aqua);
                }
                
                .wrapper {
                    position: absolute;
                    width: 100%;
                    height: fit-content;
                }
                /*header e navbar*/
                
                #header {
                    position: relative;
                }
                
                .wrapper-header {
                    position: relative;
                    width: 100%;
                    height: 800px;
                    background-color: var(--black);
                }
                
                nav {
                    position: fixed;
                    width: 100%;
                    height: 75px;
                    display: flex;
                    background-color: var(--black);
                    z-index: 10;
                }
                
                #logo {
                    width: 80px;
                    padding: 15px;
                    margin-left: 50px;
                }
                
                .nav-left {
                    width: 70%;
                }
                
                .nav-right {
                    width: 25%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                
                .list {
                    width: fit-content;
                }
                
                .list a {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    text-decoration: none;
                    color: var(--orange);
                    transition: 0.3s;
                }
                
                .list a:hover {
                    color: var(--aqua);
                    transition: 0.3s;
                }
                
                .header-left {
                    position: absolute;
                    width: 50%;
                }
                
                .wrapper-hero {
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: 100%
                }
                
                .hero-left {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                
                .title {
                    width: 100%;
                    height: 18%;
                }
                
                .title img {
                    display: block;
                    height: 100%;
                    margin: auto;
                }
                
                .button {
                    width: 100%;
                    height: 7%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .button button {
                    width: 150px;
                    height: 100%;
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color: var(--black);
                    background-color: #FF9800;
                    transition: 0.3s;
                }
                
                .button button:hover {
                    background-color: var(--aqua);
                    color: var(--gray);
                    transition: 0.3s;
                    cursor: pointer;
                }
                
                .hero-right {
                    width: 50%;
                    height: 100%;
                    background: linear-gradient(180.26deg, rgba(0, 0, 0, 0.26) 72.29%, #000000 99.77%), linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.26) 26.82%), url("../img/faisca.jfif");
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                
                .orange-line {
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: var(--orange);
                }
                
                #line-one {
                    margin-top: -10px;
                }
                
                #line-two {
                    margin-top: -20px;
                }
                
                #line-three {
                    margin-top: -30px;
                }
                
                #line-four {
                    margin-top: -40px;
                }
                /*historia em linha do tempo*/
                
                .wrapper-hist {
                    position: relative;
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    background-color: var(--white);
                }
                
                .h-header {
                    position: relative;
                    width: 100%;
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                }
                
                .of {
                    position: relative;
                    width: 100%;
                    height: 150px;
                }
                
                .oneh {
                    position: relative;
                    width: 100%;
                    height: 100px;
                }
                
                .spacer {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                }
                
                .spacer h1 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 52px;
                    font-weight: 700;
                    color: var(--black);
                }
                
                .spacer h2 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 28px;
                    font-weight: 500;
                    color: var(--orange);
                }
                
                .content {
                    position: relative;
                    width: 100%;
                    min-height: 450px;
                    display: flex;
                }
                
                .content-left {
                    position: relative;
                    width: 50%;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-right: 3px solid var(--orange);
                }
                
                .content-title {
                    position: relative;
                    height: fit-content;
                }
                
                .content-title h1 {
                    position: relative;
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 30px;
                    color: var(--orange);
                    text-align: center;
                    width: 100%;
                }
                
                .content-text {
                    position: relative;
                    width: 65%;
                    text-align: center;
                    height: fit-content;
                }
                
                .content-text h3 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 20px;
                }
                
                .content-image {
                    position: relative;
                    height: 230px;
                    width: 350px;
                    border: 5px solid var(--orange);
                    object-fit: cover;
                    overflow: hidden;
                }
                
                .content-image img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                .content-bruce img {
                    max-width: 150px;
                }
                
                .content-right {
                    position: relative;
                    width: 50%;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-left: 3px solid var(--orange);
                }
                /*tributo ao senna*/
                
                .wrapper-tributo {
                    position: relative;
                    width: 100%;
                    height: 800px;
                    border-radius: 0px 0px 30px 30px;
                    background-color: var(--green);
                    display: flex;
                }
                
                .tributo-left {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                
                .tributo-right {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                
                .tributo-img {
                    width: 80%;
                    height: 75%;
                    background-image: url("../img/senna.webp");
                    background-size: cover;
                    background-position: 30% 0;
                    background-repeat: no-repeat;
                    border-radius: 5px;
                }
                
                .tributo-txt {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 16px;
                    color: var(--white);
                }
                
                .tributo-left-container {
                    width: 80%;
                    height: 85%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                
                .tributo-left-top {
                    width: 100%;
                    height: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                
                .senna {
                    width: 100%;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .senna p {
                    font-family: 'Montserrat';
                    font-size: 64px;
                    font-weight: 700;
                    color: var(--white);
                }
                
                .frase {
                    width: 75%;
                }
                
                .frase p {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 24px;
                    color: var(--white);
                    text-align: center;
                }
                
                .tributo-left-bot {
                    width: 100%;
                    height: 50%;
                }
                
                .tributo-left-bot p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 400;
                    color: var(--white);
                    line-height: 35px;
                }
                /*pilotos*/
                
                .wrapper-pilotos {
                    position: relative;
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                .title-pilotos {
                    width: 90%;
                    height: fit-content;
                }
                
                .title-pilotos h1 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 60px;
                    color: var(--white);
                }
                
                .lando-norris {
                    position: relative;
                    width: 100%;
                    height: 800px;
                    border-top: 5px solid var(--orange);
                    border-bottom: 5px solid var(--orange);
                    display: flex;
                }
                
                .piloto-left {
                    width: 55%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                
                .piloto-name {
                    width: 81.9%;
                    height: fit-content;
                }
                
                .piloto-name h3 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 48px;
                    color: var(--gray);
                }
                
                .piloto-texto {
                    width: 81.9%;
                    height: fit-content;
                }
                
                .piloto-texto p {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 28px;
                    color: var(--white);
                }
                
                .achievm-top {
                    width: fit-content;
                    height: 50%;
                }
                
                .achievm-bot {
                    width: fit-content;
                    height: 50%;
                }
                
                .achievm-top h3 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 32px;
                    color: var(--aqua);
                }
                
                .achievm-bot h3 {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 26px;
                    color: var(--white);
                }
                
                .piloto-achievm {
                    width: 81.9%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
                
                .piloto-details {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                #landinho {
                    width: 45%;
                    height: 100%;
                    background-image: url("../img/landinho.webp");
                    background-size: 120%;
                    background-position: 50% 110%;
                    background-repeat: no-repeat;
                }
                
                #dannyric {
                    width: 45%;
                    height: 100%;
                    background-image: url("../img/daniric.png");
                    background-size: 60%;
                    background-position: 50% 110%;
                    background-repeat: no-repeat;
                }
                
                .piloto-num {
                    float: right;
                    height: fit-content;
                    width: fit-content;
                }
                
                .piloto-num p {
                    color: var(--aqua);
                    font-family: 'Space Grotesk', sans-serif;
                    font-weight: 300;
                    font-size: 102px;
                    margin-bottom: 0px;
                    margin-top: 50px;
                    margin-right: 120px;
                }
                
                .daniel-ricciardo {
                    position: relative;
                    width: 100%;
                    height: 850px;
                    border-bottom: 5px solid var(--aqua);
                    display: flex;
                }
                
                footer {
                    position: relative;
                    width: 100%;
                    height: 400px;
                    background-color: var(--orange);
                    display: flex;
                }
                
                .footer-left {
                    width: 50%;
                    height: 100%;
                    background-image: url("../img/fatec.png");
                    background-repeat: no-repeat;
                    background-size: 20%;
                    background-position: 10% 50%;
                }
                
                .footer-right {
                    width: 50%;
                    height: 100%;
                    background-image: url("../img/mclaren-txt-black.png");
                    background-repeat: no-repeat;
                    background-size: 40%;
                    background-position: 80% 50%;
                }